//colors
$white: #ffffff;
$color_boulder_approx: #787878;
$color_desert_storm_approx: #f8f8f8;
$color_gray_nurse_approx: #e8e8e8;
$color_bittersweet_approx: #ff6860;

//fonts
$font_0: Lato;
$font_1: sans-serif;

//@extend-elements
//original selectors
//#calendar_content, #calendar_weekdays, #calendar_header
%extend_1 {
	position: relative;
	width: 320px;
	overflow: hidden;
	float: left;
	z-index: 10;
}

//original selectors
//#calendar_weekdays div, #calendar_content div
%extend_2 {
	width: 40px;
	height: 40px;
	overflow: hidden;
	text-align: center;
	background-color: $white;
	color: $color_boulder_approx;
}

//original selectors
//#calendar_header, #calendar_content div.today
%extend_3 {
	zoom: 1;
	filter: alpha(opacity=70);
	opacity: 0.7;
}


#calendar {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	font-family: $font_0, $font_1;
}
#calendar_weekdays {
	@extend %extend_1;
	div {
		display: inline-block;
		vertical-align: top;
		@extend %extend_2;
	}
}
#calendar_content {
	@extend %extend_1;
	//vendor-prefix found
	//-webkit-border-radius: 0px 0px 12px 12px
	//vendor-prefix found
	//-moz-border-radius: 0px 0px 12px 12px
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 0 0 12px 12px;
	div {
		@extend %extend_2;
		float: left;
		&:hover {
			background-color: $color_desert_storm_approx;
		}
		&.blank {
			background-color: $color_gray_nurse_approx;
		}
		&.today {
			@extend %extend_3;
			color: $white;
		}
	}
}
#calendar_header {
	@extend %extend_1;
	@extend %extend_3;
	width: 100%;
	height: 37px;
	text-align: center;
	background-color: $color_bittersweet_approx;
	padding: 18px 0;
	//vendor-prefix found
	//-webkit-border-radius: 12px 12px 0px 0px
	//vendor-prefix found
	//-moz-border-radius: 12px 12px 0px 0px
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 12px 12px 0 0;
	h1 {
		font-size: 1.5em;
		color: $white;
		float: left;
		width: 70%;
	}
}
i[class^=icon-chevron] {
	color: $white;
	float: left;
	width: 15%;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 50%;
}
