//transitions

@mixin vendor($prop, $value){
	-webkit-#{$prop}: #{$value};
	-moz-#{$prop}: #{$value};
	-ms-#{$prop}: #{$value};
	-o-#{$prop}: #{$value};
	#{$prop}: #{$value};
}
@mixin ease($prop){
	transition: $prop 0.8s ease;
}
@mixin lift{
	@include vendor(box-shadow, 0 6px 8px rgba(0, 0, 0, 0.60));
	@include vendor(transform, translateZ(800px));
}
@mixin lift2d{
	@include vendor(box-shadow, 0 -2px 4px rgba(0, 0, 0, 0.60));
	@include vendor(transform, translateZ(800px));
}
@mixin side-shadow{
	@include vendor(box-shadow, 0px 0px 10px 2px rgba(0, 0, 0, 0.60));
}
@mixin bottom-shadow{
	@include vendor(box-shadow, 5px 0px 5px 2px rgba(0, 0, 0, 0.5));
}
@mixin txt-lift{
	@include vendor(text-shadow, 0 6px 8px rgba(0, 0, 0, 0.60));
	@include vendor(transform, translateZ(800px));
}
@mixin tone($deg){
	@include vendor(filter, hue-rotate($deg));
}
@mixin blur($radius){
	@include vendor(filter, blur($radius));
}
//mixins defaults
@mixin fancy-holder{
	width: 100%;
	padding: 0px !important;
	font-family: $stack;
}
@mixin swipe{
	.swipe-area {
		display: block;
        position: fixed;
        width: 50px;
        left: 0;
        top: 0;
        height: 100%;
        z-index: 0;
    }

    .swipe-on{
		 left: 200px;
		 width: 100%;
    }
}
