///fuentes y colores

//colores

$gris: rgb(36,36,36);
$naranja: rgb(255, 105, 0);
$rojo: rgb(231, 76, 60);
$azul: rgb(26, 35, 126);
$verde: rgb(186, 218, 138);

///fuentes

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300|Roboto);
@font-face {
	font-family: 'line-icons';
	src:url('Simple-Line-Icons.eot');
	src:url('Simple-Line-Icons.eot?#iefix') format('embedded-opentype'),
		url('Simple-Line-Icons.woff') format('woff'),
		url('Simple-Line-Icons.ttf') format('truetype'),
		url('Simple-Line-Icons.svg#Simple-Line-Icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

@import url(fonts/circular-icons.css);
@import url(fonts/simple-line-icons.css);



$stack: 'Roboto', sans-serif;
$main: 'Titillium Web', sans-serif;

//mixins

@mixin main-title{
    font-family: $main;
    text-transform: uppercase;
    font-weight: 700;
}

@mixin light-title{
    font-family: $main;
    text-transform: title;
    font-weight: 300;
}



//social iconos

.fa-facebook{
	color: rgb(78, 64, 182);
	cursor: pointer;
	&:hover{
		@include ease(all);
		// @include txt-lift;
		color: lighten(rgb(78, 64, 182), 20%);
	}
 }
.fa-twitter{
	color: rgb(122, 131, 251);
	cursor: pointer;
	&:hover{
		@include ease(all);
		// @include txt-lift;
		color: lighten(rgb(122, 131, 251), 5%);
	}
 }
.fa-pinterest{
	color: rgb(204, 26, 28);
	cursor: pointer;
	&:hover{
		@include ease(all);
		// @include txt-lift;
		color: lighten(rgb(204, 26, 28), 20%);
	}
}
.fa-linkedin{
	color: rgb(1, 119, 181);
	cursor: pointer;
	&:hover{
		@include ease(all);
		// @include txt-lift;
		color: lighten(rgb(1, 119, 181), 20%);
	}
}
