//elementos

//botones
@mixin boton($bg, $text) {
  padding: 4px 8%;
  color: $text;
  background: $bg;
  font-family: $main;
  font-weight:lighter;
  border-radius: 8px;
  border: 0px;
  cursor:pointer;
  @include ease(all);

  &:hover{
    background: darken($bg, 10%);
  }
}

@mixin input1($bg, $text, $padd) {
  background: $bg;
  color: $text;
  border: 1px solid $text;
  padding: $padd;
  @include ease(all);
  &:focus{
    background: lighten($bg, 60%);
  }
}

@mixin tint {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,255,255, 0.5);
  transition: all .3s linear;
}

//content
@mixin card {

}

@mixin mensaje {
  background:#fff;
  display:inline-block;
  padding:13px;
  // width:274px;
  border-radius:2px;
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  position:relative;
  &:before{
    content:"";
    position:absolute;
    display:block;
    left:0;
    border-right:6px solid #fff;
    border-top: 6px solid transparent;
    border-bottom:6px solid transparent;
    top:10px;
    margin-left:-6px;
  }
}


@mixin inv-mensaje {
  background:#fff;
  display:inline-block;
  padding:13px;
  // width:274px;
  border-radius:2px;
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  position:relative;
  &:before{
    content:"";
    position:absolute;
    display:block;
    right:0;
    border-left:6px solid red;
    border-top: 6px solid transparent;
    border-bottom:6px solid transparent;
    top:10px;
    margin-right:-6px;
  }
}
