//hoja de estilo pincipal
//para kyosko

//estilo principal
@import 'reset';
@import 'effects';
@import 'fuentes-colores';
@import 'mixin';
@import "calendar";

html{height: 100% !important; font-family: $main;}
body{min-height: 100% !important; font-family: $main;}

//login
#login{
  background: url(images/login-bg.png);
  background-size: cover;
  position: relative;
  width: 100% !important;
  height: 100% !important;
  header{
    width: 100%;
    background: rgba(white, 0.6);
    padding: 10px 0px;
    position: relative;
    top: 40px;
    .head-holder{
      width: 90%;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
      picture{
        flex-grow: 10;
      }
      .social{
        flex-grow: 1;
        i{font-size: 25px; margin: 0px 8px;}
      }

    }
  }
  .content-holder{
    width: 80%;
    margin: 0 auto;
    .log-text{
      display: inline-block;
      vertical-align: top;
      width: 40%;
      margin: 180px 2.5%;
      color: white;
      text-align: center;
      h1{
        font-size: 45px;
      }
      button{
        @include boton($naranja, white);
        font-size: 25px;
        font-weight: bold;
        margin: 8px 0px;
      }
    }
    .form-holder{
      width: 40%;
      margin: 180px 2.5%;
      display: inline-block;
      vertical-align: top;
      padding: 25px;
      border-radius: 10px;
      background: rgba(white, 0.6);
      form.registro{
        input{
          @include input1($gris, white, 18px);
          display:inline-block;
          vertical-align: middle;
          border-radius: 10px;
          margin: 10px 0px;
        }
        .pass{
          border-radius: 10px;
          width: 48%;
          display: inline-block;
          vertical-align: middle;
          overflow: hidden;
          input{
            display: inline-block;
            vertical-align: middle;
            margin: 0px;
            width: 52%;
            border-radius: 10px 0px 0px 10px;
          }
          span{
            display: inline-block;
            vertical-align: middle;
            padding: 13px;
            margin: 0px;
            background: $naranja;
            color: white;
          }
        }
        .fb-login{
          @include boton(rgb(78, 64, 182), white);
          width: 43%;
          margin: 10px;
          i{color: white; margin: 0px 8px;}
        }
        .reg{
          @include boton($rojo, white);
          width: 43%;
          margin: 10px;
        }
      }
      form.inicio-session{
        .fb-login{
          @include boton(rgb(78, 64, 182), white);
          width: 43%;
          margin: 10px 10px;
          i{color: white; margin: 0px 8px;}
        }
        input[type="submit"]{
          width: 43%;
          margin: 10px 10px;
          @include boton($rojo, white);
        }
      }
    }

  }

}

//marco
header.top-menu{
  width: 100%;
  height: 53px;
  padding: 6px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  @include bottom-shadow;
  figure{
    flex-grow: 1;
    padding: 2px 8px;
  }
  nav{
    flex-grow: 10;
    ul{
      li{
        list-style: none;
        display: inline-block;
        margin: 0px 10px;
        a{
          color: $gris;
          i{margin: 0px 8px;}
          &:hover{
            @include ease(all);
            cursor: pointer;
            color: lighten($gris, 60%);
          }
        }
      }
    }

  }
  .actions{
    display: inline-block;
    margin: 0px 10px;
    i{
      display: inline-block;
      margin: 0px 5px;
      &:hover{
        @include ease(all);
        cursor: pointer;
        color: darken($rojo, 10%);
      }
    }
  }
  .user-nav{
    flex-grow: 1;
    .user{
      .profile-pic{
        display: inline-block;
        height: 60px;
        width: 60px;
        overflow:  hidden;
        border-radius: 50%;
        vertical-align: middle;
        img{width: 100%;}
      }
      h3{
        display: inline-block;
        vertical-align: middle;
        margin: 0px 10px;
      }
    }

  }
}
#wrapper{
  display: flex;
  justify-content: space-around;
  align-items: top;
  aside.class-menu{
    flex-grow: 1;
    background: $gris;
    nav{
      ul{
        li{
          padding: 15px 4px;
          text-align: center;
          &:hover{
            @include ease(all);
            background: white;
            i{color: $verde;}
          }
          i{
            color: white;
            font-size: 25px;
            cursor: pointer;

          }
        }
      }
    }
  }
  #content{
    flex-grow: 80;
    background: lighten($gris, 50%);
  }
  aside.toolbar{
    // flex-grow: 2;
    width: 25%;
    button{
      @include boton($rojo, white);
      position: relative;
      margin: 20px 0 10px 0;
      left: 25%; right: 25%;
      font-size: 25px;
    }
    h3{
      background: lighten($gris, 60%);
      color: white;
      padding: 8px 16px;
      margin: 10px 0px;
      font-size: 18px;
    }
    .calendario{}
    .registros{
      .users{
        li{
          display:inline-block;
          margin: 6px 8px;
          width: 80px;
          height: 80px;
          border-radius: 10px;
          overflow: hidden;
          img{width: 100%;}

        }
      }
    }
    .livechat{
      background: lighten($gris, 75%);
      ul{
        list-style: none;
        li.usuario{
          padding: 4px 8px;
          .chat-bubble{
            display:flex;
            justify-content: space-around;
            figure{
                flex-grow: 1;
                width: 20%;
                display: inline-block;
                vertical-align: top;
                .p-pic{
                  width:40px;
                  height: 40px;
                  overflow: hidden;
                  img{width: 100%;}
                }
                .meta{font-size: xx-small;}
            }
            .mensaje{
              flex-grow: 6;
              width: 70%;
              display: inline-block;
              vertical-align: top;
              @include mensaje;
            }
          }
        }
        li.amigo{
          .chat-bubble{
            display:flex;
            justify-content: space-around;
            figure{
                order:2;
                flex-grow: 1;
                width: 20%;
                display: inline-block;
                vertical-align: top;
                .p-pic{
                  width:40px;
                  height: 40px;
                  overflow: hidden;
                  img{width: 100%;}
                }
                .meta{font-size: xx-small;}
            }
            .mensaje{
                order:1;
                @include inv-mensaje;
              }

          }
        }

      }
    }
  }
}
