
@font-face {
	font-family: 'airglyphs';
	src:url('airglyphs.eot');
	src:url('airglyphs.eot?#iefix') format('embedded-opentype'),
		url('airglyphs.woff') format('woff'),
		url('airglyphs.ttf') format('truetype'),
		url('airglyphs.svg#airglyphs') format('svg');
	font-weight: normal;
	font-style: normal;
}

.c-icon{
  font-family: 'airglyphs', helvetica;
}

.circular-icon-accessible:before{content:'\dc00'}
.circular-icon-add-listing:before{content:'\dc01'}
.circular-icon-add:before{content:'\dc02'}
.circular-icon-air-conditioning:before{content:'\dc03'}
.circular-icon-airbnb-alt:before{content:'\dc04'}
.circular-icon-airbnb:before{content:'\dc05'}
.circular-icon-alert-alt:before{content:'\dc06'}
.circular-icon-alert-fill:before{content:'\dc07'}
.circular-icon-alert:before{content:'\dc08'}
.circular-icon-apartment:before{content:'\dc09'}
.circular-icon-archive:before{content:'\dc0a'}
.circular-icon-arrow-down-alt:before{content:'\dc0b'}
.circular-icon-arrow-down:before{content:'\dc0c'}
.circular-icon-arrow-left-alt:before{content:'\dc0d'}
.circular-icon-arrow-left:before{content:'\dc0e'}
.circular-icon-arrow-reply:before{content:'\dc0f'}
.circular-icon-arrow-right-alt:before{content:'\dc10'}
.circular-icon-arrow-right:before{content:'\dc11'}
.circular-icon-arrow-up-alt:before{content:'\dc12'}
.circular-icon-arrow-up:before{content:'\dc13'}
.circular-icon-balloons:before{content:'\dc14'}
.circular-icon-ban-circle:before{content:'\dc15'}
.circular-icon-bar-chart:before{content:'\dc16'}
.circular-icon-bars:before,.circular-icon-wine-glasses:before{content:'\dc17'}
.circular-icon-bathtub:before{content:'\dc18'}
.circular-icon-bell:before{content:'\dc19'}
.circular-icon-bellhop:before{content:'\dc1a'}
.circular-icon-belo-heart:before{content:'\dc1b'}
.circular-icon-birdhouse:before{content:'\dc1c'}
.circular-icon-boat:before{content:'\dc1d'}
.circular-icon-bolt:before,.circular-icon-instant-book:before{content:'\dc1e'}
.circular-icon-book:before{content:'\dc1f'}
.circular-icon-bullseye:before{content:'\dc20'}
.circular-icon-bus:before{content:'\dc21'}
.circular-icon-cabin:before{content:'\dc22'}
.circular-icon-calendar-alt:before,.circular-icon-tech-talks:before{content:'\dc23'}
.circular-icon-calendar:before{content:'\dc24'}
.circular-icon-camera:before{content:'\dc25'}
.circular-icon-camper:before{content:'\dc26'}
.circular-icon-car:before{content:'\dc27'}
.circular-icon-caret-down:before{content:'\dc28'}
.circular-icon-caret-left:before{content:'\dc29'}
.circular-icon-caret-right:before{content:'\dc2a'}
.circular-icon-caret-up:before{content:'\dc2b'}
.circular-icon-castle:before{content:'\dc2c'}
.circular-icon-cat:before{content:'\dc2d'}
.circular-icon-checkbox:before{content:'\dc2e'}
.circular-icon-chevron-down:before{content:'\dc2f'}
.circular-icon-chevron-left:before{content:'\dc30'}
.circular-icon-chevron-right:before{content:'\dc31'}
.circular-icon-chevron-up:before{content:'\dc32'}
.circular-icon-city:before{content:'\dc33'}
.circular-icon-cloud:before{content:'\dc34'}
.circular-icon-code:before{content:'\dc35'}
.circular-icon-cog:before{content:'\dc36'}
.circular-icon-comment-negative:before{content:'\dc37'}
.circular-icon-comment-positive:before{content:'\dc38'}
.circular-icon-comment:before{content:'\dc39'}
.circular-icon-comments:before{content:'\dc3a'}
.circular-icon-cup-alt:before{content:'\dc3b'}
.circular-icon-cup:before{content:'\dc3c'}
.circular-icon-currency-brl:before{content:'\dc3d'}
.circular-icon-currency-chf:before{content:'\dc3e'}
.circular-icon-currency-czk:before{content:'\dc3f'}
.circular-icon-currency-eur:before{content:'\dc40'}
.circular-icon-currency-gbp:before{content:'\dc41'}
.circular-icon-currency-huf:before{content:'\dc42'}
.circular-icon-currency-idr:before{content:'\dc43'}
.circular-icon-currency-ils:before{content:'\dc44'}
.circular-icon-currency-inr:before{content:'\dc45'}
.circular-icon-currency-jpy:before,.circular-icon-currency-cny:before{content:'\dc46'}
.circular-icon-currency-krw:before{content:'\dc47'}
.circular-icon-currency-myr:before{content:'\dc48'}
.circular-icon-currency-nok:before,.circular-icon-currency-dkk:before,.circular-icon-currency-sek:before{content:'\dc49'}
.circular-icon-currency-php:before{content:'\dc4a'}
.circular-icon-currency-pln:before{content:'\dc4b'}
.circular-icon-currency-rub:before{content:'\dc4c'}
.circular-icon-currency-thb:before{content:'\dc4d'}
.circular-icon-currency-try:before{content:'\dc4e'}
.circular-icon-currency-usd:before,.circular-icon-money:before,.circular-icon-currency:before,.circular-icon-currency-aud:before,.circular-icon-currency-cad:before,.circular-icon-currency-hkd:before,.circular-icon-currency-mxn:before,.circular-icon-currency-nzd:before,.circular-icon-currency-twd:before,.circular-icon-currency-sgd:before,.circular-icon-currency-ars:before{content:'\dc4f'}
.circular-icon-currency-vnd:before{content:'\dc50'}
.circular-icon-currency-zar:before{content:'\dc51'}
.circular-icon-dates-price:before{content:'\dc52'}
.circular-icon-description-alt:before{content:'\dc53'}
.circular-icon-description:before{content:'\dc54'}
.circular-icon-desktop:before{content:'\dc55'}
.circular-icon-dog:before{content:'\dc56'}
.circular-icon-doorman:before{content:'\dc57'}
.circular-icon-double-bed:before{content:'\dc58'}
.circular-icon-download:before{content:'\dc59'}
.circular-icon-dryer:before{content:'\dc5a'}
.circular-icon-edit:before{content:'\dc5b'}
.circular-icon-elevator:before{content:'\dc5c'}
.circular-icon-emergency-exit:before{content:'\dc5d'}
.circular-icon-entire-place:before{content:'\dc5e'}
.circular-icon-envelope-inbound:before{content:'\dc5f'}
.circular-icon-envelope-outbound:before{content:'\dc60'}
.circular-icon-envelope:before{content:'\dc61'}
.circular-icon-essentials:before{content:'\dc62'}
.circular-icon-events:before{content:'\dc63'}
.circular-icon-external-link:before{content:'\dc64'}
.circular-icon-eye:before{content:'\dc65'}
.circular-icon-facebook-messenger:before{content:'\dc66'}
.circular-icon-facebook:before{content:'\dc67'}
.circular-icon-family:before{content:'\dc68'}
.circular-icon-filter:before{content:'\dc69'}
.circular-icon-fire-alarm:before{content:'\dc6a'}
.circular-icon-fire-alt:before{content:'\dc6b'}
.circular-icon-fire-extinguisher:before{content:'\dc6c'}
.circular-icon-fire:before{content:'\dc6d'}
.circular-icon-fireplace:before{content:'\dc6e'}
.circular-icon-flag:before{content:'\dc6f'}
.circular-icon-flower:before{content:'\dc70'}
.circular-icon-friends:before{content:'\dc71'}
.circular-icon-full-screen:before{content:'\dc72'}
.circular-icon-gas-valve:before{content:'\dc73'}
.circular-icon-gift:before{content:'\dc74'}
.circular-icon-globe:before,.circular-icon-globe-alt:before{content:'\dc75'}
.circular-icon-google-plus:before{content:'\dc76'}
.circular-icon-group-alt:before{content:'\dc77'}
.circular-icon-group:before{content:'\dc78'}
.circular-icon-guide-book:before{content:'\dc79'}
.circular-icon-gym:before{content:'\dc7a'}
.circular-icon-hair-dryer:before{content:'\dc7b'}
.circular-icon-hairdryer:before{content:'\dc7c'}
.circular-icon-handshake:before{content:'\dc7d'}
.circular-icon-hangers:before{content:'\dc7e'}
.circular-icon-haze:before{content:'\dc7f'}
.circular-icon-heart-alt:before{content:'\dc80'}
.circular-icon-heart:before{content:'\dc81'}
.circular-icon-heating:before{content:'\dc82'}
.circular-icon-home-safety:before{content:'\dc83'}
.circular-icon-home:before{content:'\dc84'}
.circular-icon-host-guarantee:before{content:'\dc85'}
.circular-icon-host-home-alt:before{content:'\dc86'}
.circular-icon-host-home:before{content:'\dc87'}
.circular-icon-hot-tub:before{content:'\dc88'}
.circular-icon-id-card-alt:before{content:'\dc89'}
.circular-icon-id-card-back:before,.circular-icon-credit-card:before{content:'\dc8a'}
.circular-icon-id-card:before{content:'\dc8b'}
.circular-icon-instagram:before{content:'\dc8c'}
.circular-icon-instant-book-alt:before{content:'\dc8d'}
.circular-icon-intercom:before{content:'\dc8e'}
.circular-icon-internet:before{content:'\dc8f'}
.circular-icon-iron:before{content:'\dc90'}
.circular-icon-key:before{content:'\dc91'}
.circular-icon-laptop:before{content:'\dc92'}
.circular-icon-liability:before{content:'\dc93'}
.circular-icon-lifesaver:before{content:'\dc94'}
.circular-icon-light-bulb-alt:before{content:'\dc95'}
.circular-icon-light-bulb:before{content:'\dc96'}
.circular-icon-lighthouse:before{content:'\dc97'}
.circular-icon-linkedin:before{content:'\dc98'}
.circular-icon-list-ul:before{content:'\dc99'}
.circular-icon-listings:before{content:'\dc9a'}
.circular-icon-location:before{content:'\dc9b'}
.circular-icon-lock:before{content:'\dc9c'}
.circular-icon-map-marker-alt:before{content:'\dc9d'}
.circular-icon-map-marker:before{content:'\dc9e'}
.circular-icon-match:before{content:'\dc9f'}
.circular-icon-meal:before{content:'\dca0'}
.circular-icon-meetups:before{content:'\dca1'}
.circular-icon-minus:before{content:'\dca2'}
.circular-icon-money-deposit:before{content:'\dca3'}
.circular-icon-money-none:before{content:'\dca4'}
.circular-icon-moon:before{content:'\dca5'}
.circular-icon-ok-alt:before{content:'\dca6'}
.circular-icon-ok-fill:before{content:'\dca7'}
.circular-icon-ok:before{content:'\dca8'}
.circular-icon-overview:before{content:'\dca9'}
.circular-icon-paper-plane:before{content:'\dcaa'}
.circular-icon-parking:before{content:'\dcab'}
.circular-icon-partly-cloudy:before{content:'\dcac'}
.circular-icon-passport:before{content:'\dcad'}
.circular-icon-paw:before{content:'\dcae'}
.circular-icon-phone-alt:before{content:'\dcaf'}
.circular-icon-phone-android:before{content:'\dcb0'}
.circular-icon-phone-inbound:before{content:'\dcb1'}
.circular-icon-phone-outbound:before{content:'\dcb2'}
.circular-icon-phone:before{content:'\dcb3'}
.circular-icon-photo-upload:before{content:'\dcb4'}
.circular-icon-picture:before{content:'\dcb5'}
.circular-icon-pinterest:before{content:'\dcb6'}
.circular-icon-plane:before{content:'\dcb7'}
.circular-icon-pool:before{content:'\dcb8'}
.circular-icon-private-room:before{content:'\dcb9'}
.circular-icon-question-alt:before{content:'\dcba'}
.circular-icon-question:before{content:'\dcbb'}
.circular-icon-rain:before{content:'\dcbc'}
.circular-icon-real-bed:before{content:'\dcbd'}
.circular-icon-recently-viewed:before{content:'\dcbe'}
.circular-icon-record:before{content:'\dcbf'}
.circular-icon-refresh:before{content:'\dcc0'}
.circular-icon-remove:before{content:'\dcc1'}
.circular-icon-reorder:before{content:'\dcc2'}
.circular-icon-repeat:before{content:'\dcc3'}
.circular-icon-rooms:before{content:'\dcc4'}
.circular-icon-sad-face:before{content:'\dcc5'}
.circular-icon-search:before{content:'\dcc6'}
.circular-icon-secure-user:before{content:'\dcc7'}
.circular-icon-shampoo:before{content:'\dcc8'}
.circular-icon-share:before,.circular-icon-share-alt:before{content:'\dcc9'}
.circular-icon-shared-room:before{content:'\dcca'}
.circular-icon-shopping-bag:before{content:'\dccb'}
.circular-icon-shopping-basket:before,.circular-icon-apple:before{content:'\dccc'}
.circular-icon-smoking:before{content:'\dccd'}
.circular-icon-snow:before{content:'\dcce'}
.circular-icon-spray-bottle:before{content:'\dccf'}
.circular-icon-star-alt:before{content:'\dcd0'}
.circular-icon-star-circled:before{content:'\dcd1'}
.circular-icon-star-half:before{content:'\dcd2'}
.circular-icon-star:before{content:'\dcd3'}
.circular-icon-stats:before{content:'\dcd4'}
.circular-icon-stopwatch-alt:before{content:'\dcd5'}
.circular-icon-stopwatch:before{content:'\dcd6'}
.circular-icon-suitcase:before{content:'\dcd7'}
.circular-icon-sun:before{content:'\dcd8'}
.circular-icon-tablet:before{content:'\dcd9'}
.circular-icon-tag-alt:before{content:'\dcda'}
.circular-icon-tag:before{content:'\dcdb'}
.circular-icon-tent:before{content:'\dcdc'}
.circular-icon-thumbs-down:before{content:'\dcdd'}
.circular-icon-thumbs-up:before{content:'\dcde'}
.circular-icon-time-dark:before{content:'\dcdf'}
.circular-icon-time:before,.circular-icon-time-alt:before{content:'\dce0'}
.circular-icon-train:before{content:'\dce1'}
.circular-icon-trash:before{content:'\dce2'}
.circular-icon-tv:before{content:'\dce3'}
.circular-icon-twitter:before{content:'\dce4'}
.circular-icon-unlock:before{content:'\dce5'}
.circular-icon-upload:before{content:'\dce6'}
.circular-icon-user-circle:before{content:'\dce7'}
.circular-icon-user:before{content:'\dce8'}
.circular-icon-verified-id:before{content:'\dce9'}
.circular-icon-video-none:before{content:'\dcea'}
.circular-icon-video-pause-alt:before{content:'\dceb'}
.circular-icon-video-pause:before{content:'\dcec'}
.circular-icon-video-play-alt:before{content:'\dced'}
.circular-icon-video-play:before{content:'\dcee'}
.circular-icon-video:before{content:'\dcef'}
.circular-icon-viewfinder:before{content:'\dcf0'}
.circular-icon-vk:before{content:'\dcf1'}
.circular-icon-volume:before{content:'\dcf2'}
.circular-icon-washer:before{content:'\dcf3'}
.circular-icon-webcam:before{content:'\dcf4'}
.circular-icon-wechat:before{content:'\dcf5'}
.circular-icon-weibo:before{content:'\dcf6'}
.circular-icon-wifi:before{content:'\dcf7'}
.circular-icon-wind:before{content:'\dcf8'}
.circular-icon-youtube:before{content:'\dcf9'}
